<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="xink.vpn"
      android:versionCode="1" android:versionName="1.0.Beta">
    <uses-sdk android:maxSdkVersion="10" android:targetSdkVersion="10" android:minSdkVersion="7"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"></uses-permission>

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name="VpnSettings"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="VpnAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"></action>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/vpn_appwidget_info"></meta-data>
        </receiver>
        <activity android:name="VpnTypeSelection" android:label="@string/add_vpn"></activity>
        <service android:name="VpnConnectorService">
            <intent-filter>
                <action android:name="xink.toggleVpnConnectionAction"></action>
            </intent-filter>
        </service><activity android:name=".editor.PptpProfileEditor"></activity>
        
        <activity android:name=".editor.L2tpProfileEditor"></activity>
        <activity android:name=".editor.L2tpIpsecPskProfileEditor"></activity>

    </application>
</manifest>