<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="xink.vpn"
      android:versionCode="7" android:versionName="3.1">
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="10" android:maxSdkVersion="10"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <supports-screens android:smallScreens="true" android:largeScreens="true" android:xlargeScreens="true" android:anyDensity="true" android:normalScreens="true"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
<application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true" android:name="XinkVpnApp">
        <activity android:name=".VpnSettings" android:label="@string/task_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.net.vpn.SETTINGS"></action>
                <category android:name="com.android.settings.SHORTCUT"></category>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <receiver android:name=".VpnAppWidgetProvider">
            <intent-filter>
                <action android:name="vpn.connectivity" /><action android:name="android.appwidget.action.APPWIDGET_UPDATE"></action>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/vpn_appwidget_info"></meta-data>
        </receiver>
        <activity android:name=".VpnTypeSelection" android:label="@string/add_vpn"></activity><activity android:name=".editor.PptpProfileEditor" android:windowSoftInputMode="adjustResize"></activity>

        <activity android:name=".editor.L2tpProfileEditor" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".editor.L2tpIpsecPskProfileEditor" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ToggleVpn" android:theme="@style/HiddenActivity" android:launchMode="singleInstance" android:label="@string/task_toggle" android:taskAffinity="xink.vpn.toggle" android:icon="@drawable/vpn_switch"></activity>
        <receiver android:name=".KeepAlive">
            <intent-filter>
                <action android:name="vpn.connectivity"></action>
            </intent-filter>
        </receiver>
        <activity android:name=".Settings"></activity>

        <receiver android:name=".stats.VpnConnectivityMonitor" >
            <intent-filter>
                <action android:name="vpn.connectivity" />
            </intent-filter>
        </receiver>

        <activity
            android:name="org.acra.CrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Dialog" />
    </application>

</manifest>
