<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="xink.vpn.assist"
  android:versionCode="1" android:versionName="2.0">
  <uses-sdk android:minSdkVersion="7" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

  <application android:label="@string/assist_app_name">
    <activity android:theme="@android:style/Theme.Dialog" android:name="Restore">
        <intent-filter>
          <action android:name="xink.repository.RESTORE"/>
          <category android:name="android.intent.category.DEFAULT"></category>
        </intent-filter>
      </activity><activity android:name=".Backup" android:theme="@android:style/Theme.Dialog">
      
      <intent-filter>
        <action android:name="xink.repository.BACKUP" />
        <category android:name="android.intent.category.DEFAULT"></category>
      </intent-filter>
    </activity>

  </application>
</manifest>